---
title: 11ty Boilerplate
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <nav>
    <ul class="header">
      <li><a href="/" title="Go home"><img class="buttons" alt="home button label" src="/images/HomeBTN.png"></a></li>
      <li><a href="/about/" title="About The Author"><img class="buttons" alt="home button label" src="/images/AboutMeBTN.png"></a></li>
    </ul>
  </nav>
    {{ content }}
</body>
</html>