html {
    font-family: sans-serif;
    background-color: #F6F7F8;
    color: #011627;
}
nav ul{
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: -9px;
    padding-top: 5px;
    height: 35px;
    background-color: #9da5bd;
    z-index: 99;
    position: sticky;
    top: 0;
}
img{
    max-width: 25%;
    max-height: 25%;
    border-radius: 5%;
    display: flex;
    display: block;
    margin-right: auto;
    margin-left: auto;
    margin-top: 20px;
}

p{
    text-align: center;
}

h1{
    text-align: center;
}

h2{
    text-align: center;
}

h3{ 
    text-align: center;
}
h4{
    text-align: center;
}